@font-face {
  font-family: Graphik Dan Web;
  src: url("../fonts/GraphikRegular.otf"); }

@font-face {
  font-family: Graphik Dan Web Bold;
  src: url("../fonts/GraphikBold.otf"); }

@font-face {
  font-family: Graphik Dan Web Light;
  src: url("../fonts/GraphikLight.otf"); }

@font-face {
  font-family: Graphik Dan Web Medium;
  src: url("../fonts/GraphikMedium.otf"); }

@font-face {
  font-family: Graphik Dan Web Semibold;
  src: url("../fonts/GraphikSemibold.otf"); }

.bg_light {
  background-color: #F2F3F4 !important; }

.common__shadow {
  -webkit-box-shadow: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.08), 0px 0.25rem 2rem rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.08), 0px 0.25rem 2rem rgba(0, 0, 0, 0.08); }

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
.section-padding {
  padding: 9rem 0; }

.section-heading {
  margin-bottom: 1.2rem; }
  .section-heading h2 {
    font-size: 3rem;
    letter-spacing: 1px;
    margin-bottom: 1.25rem;
    line-height: 4rem;
    font-family: Graphik Dan Web Bold; }
  .section-heading p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
    font-family: Graphik Dan Web; }

.bg-light {
  background-color: #F2F3F4 !important; }

.bg-blue-full {
  background-color: #00112C; }

.bg-blue-500 {
  background-color: #04294F; }

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  .embed-responsive .embed-responsive-item {
    width: 100%;
    min-height: 500px; }

/**
 * Remove the margin in all browsers.
 */
body {
  font-family: Graphik Dan Web;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2, .h2 {
  font-size: 3rem;
  letter-spacing: 1px;
  margin-bottom: 1.25rem;
  line-height: 4rem; }

.btn:not(:disabled):not(.disabled) {
  cursor: pointer; }

.button, .btn {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  letter-spacing: 0.35px; }

.btn-lg {
  border-width: 2px; }

.btn {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.35px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.btn-lg {
  padding: 1.5rem 2rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.5rem; }

.btn-outline-secondary {
  color: #00112C;
  font-family: Graphik Dan Web Semibold;
  border-color: #00112C; }
  .btn-outline-secondary:hover {
    color: #ffffff;
    background-color: #00112C;
    border-color: #00112C; }

.btn-success {
  color: #000;
  font-family: Graphik Dan Web Semibold;
  border-color: #38E8B0;
  background: -webkit-gradient(linear, left top, right top, from(#38E8B0), to(#3BF7D1));
  background: linear-gradient(0.25turn, #38E8B0, #3BF7D1); }
  .btn-success:hover {
    color: #000 !important;
    background-color: #38E8B0;
    border-color: #38E8B0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }
  a:hover {
    color: #38E8B0 !important; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2; }

h5 {
  font-size: 1.125rem;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  font-family: Graphik Dan Web Semibold; }

textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.navbar {
  padding: 2rem 0rem; }
  .navbar .navbar-nav .nav-link {
    margin: 0 1rem;
    font-family: Graphik Dan Web Bold;
    font-weight: 400; }
  .navbar .navbar-text .border-white {
    border: 2px solid #fff; }
  .navbar .navbar-text .border-blue {
    border: 2px solid #00112C; }
  .navbar .navbar-text .nav-btn {
    padding: 0.75rem 1rem;
    line-height: 1.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none; }
  .navbar .dropdown-menu {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    word-wrap: break-word; }

.hero-primary {
  background-color: #00112C;
  height: auto; }
  .hero-primary .navbar {
    background-color: #00112C; }
  .hero-primary .hero-wrapper {
    position: relative;
    min-height: 300px;
    background-color: #00112C;
    color: #fff; }
    .hero-primary .hero-wrapper .hero-content h1 {
      font-size: 3.5rem;
      letter-spacing: 1px;
      line-height: 4.5rem;
      font-family: Graphik Dan Web Bold;
      text-align: center; }
    .hero-primary .hero-wrapper .hero-content .hero-search-form {
      margin-top: 3.5rem;
      margin-left: auto;
      margin-right: auto; }
      .hero-primary .hero-wrapper .hero-content .hero-search-form .input-group {
        margin-bottom: 0;
        padding: 0.3rem 0.7rem;
        padding-left: 0.7rem;
        padding-left: 1.4rem;
        border-radius: 2rem;
        background-color: #fff; }
        .hero-primary .hero-wrapper .hero-content .hero-search-form .input-group .form-control {
          border: none !important;
          outline: none !important;
          -webkit-box-shadow: none;
                  box-shadow: none; }
          .hero-primary .hero-wrapper .hero-content .hero-search-form .input-group .form-control::-webkit-input-placeholder {
            color: #8795AA; }
          .hero-primary .hero-wrapper .hero-content .hero-search-form .input-group .form-control:-ms-input-placeholder {
            color: #8795AA; }
          .hero-primary .hero-wrapper .hero-content .hero-search-form .input-group .form-control::-ms-input-placeholder {
            color: #8795AA; }
          .hero-primary .hero-wrapper .hero-content .hero-search-form .input-group .form-control::placeholder {
            color: #8795AA; }
        .hero-primary .hero-wrapper .hero-content .hero-search-form .input-group .input-group-text {
          background-color: transparent;
          padding: 5px;
          border: none; }
          .hero-primary .hero-wrapper .hero-content .hero-search-form .input-group .input-group-text button {
            padding: 1rem;
            border-radius: 1.35rem;
            border: none !important;
            background-color: #38E8B0 !important;
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 1rem;
            letter-spacing: 0.35px; }
    .hero-primary .hero-wrapper .hero-img img {
      height: 500px; }

.hero-secondary {
  background-color: #00112C; }
  .hero-secondary .hero-wrapper {
    position: relative;
    min-height: 300px; }
    .hero-secondary .hero-wrapper .hero-content h1 {
      font-size: 3.5rem;
      letter-spacing: 1px;
      line-height: 4.5rem;
      font-family: Graphik Dan Web Bold; }
    .hero-secondary .hero-wrapper .hero-content p {
      font-size: 1.27rem;
      font-family: Graphik Dan Web;
      letter-spacing: 0.35px;
      margin-top: 0;
      line-height: 2rem; }
    .hero-secondary .hero-wrapper .hero-content ul {
      list-style-type: none;
      margin-left: -1.875rem; }
      .hero-secondary .hero-wrapper .hero-content ul li {
        font-size: 1.27rem;
        font-family: Graphik Dan Web;
        letter-spacing: 0.35px;
        margin-top: 0;
        line-height: 2rem;
        margin-bottom: .200rem; }
    .hero-secondary .hero-wrapper .hero-content .hero-search-form {
      margin-top: 3.5rem;
      margin-left: auto;
      margin-right: auto; }
      .hero-secondary .hero-wrapper .hero-content .hero-search-form .input-group {
        margin-bottom: 0;
        padding: 0.3rem 0.7rem;
        padding-left: 0.7rem;
        padding-left: 1.4rem;
        border-radius: 2rem;
        background-color: #fff; }
        .hero-secondary .hero-wrapper .hero-content .hero-search-form .input-group .form-control {
          border: none !important;
          outline: none !important;
          -webkit-box-shadow: none;
                  box-shadow: none; }
          .hero-secondary .hero-wrapper .hero-content .hero-search-form .input-group .form-control::-webkit-input-placeholder {
            color: #8795AA; }
          .hero-secondary .hero-wrapper .hero-content .hero-search-form .input-group .form-control:-ms-input-placeholder {
            color: #8795AA; }
          .hero-secondary .hero-wrapper .hero-content .hero-search-form .input-group .form-control::-ms-input-placeholder {
            color: #8795AA; }
          .hero-secondary .hero-wrapper .hero-content .hero-search-form .input-group .form-control::placeholder {
            color: #8795AA; }
        .hero-secondary .hero-wrapper .hero-content .hero-search-form .input-group .input-group-text {
          background-color: transparent;
          padding: 5px;
          border: none; }
          .hero-secondary .hero-wrapper .hero-content .hero-search-form .input-group .input-group-text button {
            padding: 1rem;
            border-radius: 1.35rem;
            border: none !important;
            background-color: #38E8B0 !important;
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 1rem;
            letter-spacing: 0.35px; }
            .hero-secondary .hero-wrapper .hero-content .hero-search-form .input-group .input-group-text button .btn-text {
              padding: 0.5rem 0.8rem;
              font-size: 1rem;
              font-family: Graphik Dan Web Bold;
              line-height: 1rem;
              letter-spacing: 0.35px; }
    .hero-secondary .hero-wrapper .hero-img img {
      height: 500px; }

.hero-wrapper_home {
  background-image: url(../images/banner_land.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 520px;
  background-position-y: 100%;
  background-color: white; }

.search-footer h2 {
  font-family: Graphik Dan Web Bold;
  font-size: 3rem;
  letter-spacing: 1px;
  margin-bottom: 1.25rem;
  line-height: 4rem;
  color: #fff; }

.search-footer p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  font-family: Graphik Dan Web;
  margin-bottom: 2rem;
  color: #fff; }

.search-footer .footer-search-form {
  margin-top: 3.5rem;
  margin-left: auto;
  margin-right: auto; }
  .search-footer .footer-search-form .input-group {
    margin-bottom: 0;
    padding: 0.3rem 0.7rem;
    padding-left: 0.7rem;
    padding-left: 1.4rem;
    border-radius: 2rem;
    background-color: #fff; }
    .search-footer .footer-search-form .input-group .form-control {
      border: none !important;
      outline: none !important;
      -webkit-box-shadow: none;
              box-shadow: none; }
      .search-footer .footer-search-form .input-group .form-control::-webkit-input-placeholder {
        color: #8795AA; }
      .search-footer .footer-search-form .input-group .form-control:-ms-input-placeholder {
        color: #8795AA; }
      .search-footer .footer-search-form .input-group .form-control::-ms-input-placeholder {
        color: #8795AA; }
      .search-footer .footer-search-form .input-group .form-control::placeholder {
        color: #8795AA; }
    .search-footer .footer-search-form .input-group .input-group-text {
      background-color: transparent;
      padding: 5px;
      border: none; }
      .search-footer .footer-search-form .input-group .input-group-text button {
        padding: 1rem;
        border-radius: 1.35rem;
        border: none !important;
        background-color: #38E8B0 !important;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1rem;
        letter-spacing: 0.35px; }

.site-footer .footer-widget {
  color: #fff; }
  .site-footer .footer-widget h5 {
    font-size: 1.125rem;
    letter-spacing: 0.5px;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    font-family: Graphik Dan Web Semibold; }
  .site-footer .footer-widget ul {
    list-style-type: none;
    margin-left: -2rem; }
    .site-footer .footer-widget ul a {
      color: #fff;
      margin-bottom: 0.5rem;
      display: block;
      text-decoration: none;
      font-family: Graphik Dan Web; }

.site-footer .widget-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .site-footer .widget-social ul li {
    margin-right: 1rem; }
    .site-footer .widget-social ul li a {
      color: #fff;
      margin-bottom: 0.5rem;
      display: block;
      font-size: 1.125rem;
      text-decoration: none;
      font-family: Graphik Dan Web; }

.site-footer hr {
  border-bottom: 2px solid #fff;
  padding: 7px 0; }

.site-footer .copyright-area {
  padding-top: 15px;
  color: #fff;
  font-size: .845rem; }
  .site-footer .copyright-area .language-switcher .btn-group .dropdown-toggle {
    color: #fff;
    text-decoration: none; }
  .site-footer .copyright-area .copyright-text a {
    color: #fff; }

.content-image .section-content h2 {
  font-family: Graphik Dan Web Bold;
  font-size: 3rem;
  letter-spacing: 1px;
  margin-bottom: 1.25rem;
  line-height: 4rem; }

.content-image .section-content p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
  font-family: Graphik Dan Web;
  margin-bottom: 2rem; }

.content-image .section-content .vertical-icon-list {
  padding-left: 3rem;
  list-style: none; }
  .content-image .section-content .vertical-icon-list li {
    position: relative; }
    .content-image .section-content .vertical-icon-list li .li-icon {
      position: absolute;
      left: -3rem; }
    .content-image .section-content .vertical-icon-list li h4 {
      font-family: Graphik Dan Web Semibold;
      font-size: 1.7rem;
      letter-spacing: 0.5px;
      line-height: 2rem; }
    .content-image .section-content .vertical-icon-list li p {
      font-size: 1rem;
      letter-spacing: 0.35px;
      line-height: 1.5rem; }
    .content-image .section-content .vertical-icon-list li a {
      color: #1AAFD0;
      text-decoration: none;
      font-size: 1rem;
      font-family: Graphik Dan Web Medium;
      line-height: 1.5rem; }

.features {
  padding-top: 7.25rem; }
  .features .features-box h3 {
    margin-top: 1rem;
    font-size: 2rem;
    font-family: Graphik Dan Web Bold; }
  .features .features-box p {
    letter-spacing: 0.35px; }
  .features .features-box a {
    color: #1AAFD0;
    text-decoration: none;
    font-size: 1rem;
    font-family: Graphik Dan Web Medium;
    line-height: 1.5rem; }

.theme-accordions .accordion .accordion-item {
  -webkit-box-shadow: 0px 0.125rem 0.25rem rgba(0, 0, 0, 0.08), 0px 0.25rem 1.5rem rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0.125rem 0.25rem rgba(0, 0, 0, 0.08), 0px 0.25rem 1.5rem rgba(0, 0, 0, 0.08);
  margin-bottom: 1.4rem;
  border-radius: 0.5rem !important; }
  .theme-accordions .accordion .accordion-item .accordion-header button {
    border-radius: 0.5rem !important;
    font-size: 1.125rem;
    letter-spacing: 0.5px;
    line-height: 1.5rem;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    font-family: Graphik Dan Web Bold; }
    .theme-accordions .accordion .accordion-item .accordion-header button:not(.collapsed) {
      background-color: transparent;
      color: #000; }
  .theme-accordions .accordion .accordion-item .accordion-body .steps h5 {
    font-size: 1rem;
    font-family: Graphik Dan Web Bold;
    color: #000;
    margin-top: 0;
    line-height: 2rem; }
  .theme-accordions .accordion .accordion-item .accordion-body p {
    font-size: 1rem;
    font-family: Graphik Dan Web;
    color: #000;
    margin-top: 0;
    line-height: 2rem; }

.search-header {
  padding-top: 3rem;
  padding-bottom: 6rem; }
  .search-header input {
    height: 5rem;
    border-radius: 0.5rem !important;
    border: none;
    font-size: 1rem;
    line-height: 1.5;
    color: #04294F;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0.5rem 0.75rem rgba(0, 0, 0, 0.08), 0px 0.25rem 3rem rgba(0, 0, 0, 0.08);
            box-shadow: 0px 0.5rem 0.75rem rgba(0, 0, 0, 0.08), 0px 0.25rem 3rem rgba(0, 0, 0, 0.08);
    padding: 1.25rem 1rem;
    outline: none; }
  .search-header form {
    position: relative; }
  .search-header .search__btn {
    position: absolute;
    right: 0px;
    top: 50%;
    -webkit-transform: translatey(-50%);
            transform: translatey(-50%); }
    .search-header .search__btn button {
      border-radius: 0.5rem;
      border: none;
      background: -webkit-gradient(linear, left top, right top, from(#38E8B0), to(#3BF7D1));
      background: linear-gradient(0.25turn, #38E8B0, #3BF7D1);
      padding: 0 1.5rem;
      line-height: 3.4rem; }

.search__content .accordion .accordion-button:not(.collapsed) {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: transparent; }

.search__content .accordion .accordion-header {
  border-bottom: 1px solid #000; }
  .search__content .accordion .accordion-header button {
    font-size: 16px;
    color: #00112c;
    font-weight: 500; }

.search__content .accordion .form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px; }
  .search__content .accordion .form-check .form-check-input {
    border: 2px solid #00112C;
    height: 1.563rem;
    width: 1.563rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 0.25rem; }
  .search__content .accordion .form-check .form-check-label {
    margin: 0px 10px;
    height: 100%;
    font-size: 16px; }

.search__content .accordion .form-check-input:checked {
  background-color: #1AAFD0;
  border: none; }

.search__content .accordion-item {
  border: 0px solid black; }

.search__content .form input {
  height: 2.5rem;
  border-radius: 0.25rem !important;
  display: inline-block;
  padding: 1.25rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #04294F;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #8795AA;
  outline: #38E8B0; }

.result__layout {
  line-height: 2.5rem;
  border-bottom: 1px solid #B6BFCC;
  padding-bottom: 15px; }

.filter span {
  width: 120px; }

.domain_layout {
  padding: 15px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

.domain_name {
  margin-bottom: 10px; }
  .domain_name a {
    text-decoration: none;
    word-break: break-all;
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
    color: #179DBA;
    font-weight: 900; }
    .domain_name a:hover {
      color: #12768c !important;
      text-decoration: underline; }

.offer__btn {
  border-radius: 6px;
  border: 2px solid #000;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto; }
  .offer__btn a {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1rem;
    letter-spacing: 0.35px;
    text-decoration: none;
    color: #000;
    padding: 6px 18px;
    line-height: 1.8; }

.seller__icon img {
  width: 20px; }

.seller__tittle {
  font-size: 1rem;
  font-weight: 400; }

.pricing {
  width: 120px;
  line-height: 2.5;
  background-image: url(../../images/prize_lable.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center; }

.price-label strong span {
  font-family: Graphik Dan Web Semibold;
  letter-spacing: 0.35px;
  font-size: 1rem; }

.price-label small {
  font-size: 12px;
  font-family: Graphik Dan Web; }

.and span {
  font-size: 12px;
  text-transform: lowercase;
  margin: 0px 5px;
  letter-spacing: 0.35px; }

.search__content .pagination .page-item {
  background-color: transparent; }

.search__content .pagination .page-link {
  color: #179DBA;
  border: none; }

.search__content .pagination .page-link:hover {
  z-index: 2;
  font-weight: 500;
  color: #0F677A !important;
  background-color: transparent;
  border-color: #dee2e6; }

@media (max-width: 767px) {
  .offer__btn {
    display: block;
    width: 100%;
    text-align: center; }
  .seller {
    margin-bottom: 10px; } }

.contact-support form input {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #04294F;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #8795AA;
  height: calc(1.5em + 2.5rem + 2px);
  padding: 1.25rem 1rem;
  border-radius: 0.5rem; }

.contact-support form textarea {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #04294F;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #8795AA;
  padding: 1.25rem 1rem;
  border-radius: 0.5rem;
  text-transform: capitalize; }

.contact__tittle {
  font-size: 3rem;
  letter-spacing: 1px;
  margin-bottom: 1.25rem;
  line-height: 4rem;
  font-family: Graphik Dan Web Semibold; }

.contact__description {
  font-size: 1rem; }

.form__btn button {
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#38E8B0), to(#3BF7D1));
  background: linear-gradient(0.25turn, #38E8B0, #3BF7D1);
  border: none;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  letter-spacing: 0.35px;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem; }
  .form__btn button:hover {
    background: -webkit-gradient(linear, left top, right top, from(#37C597), to(#38E8B0));
    background: linear-gradient(0.25turn, #37C597, #38E8B0); }
/*# sourceMappingURL=custom.css.map */