@font-face {
	font-family: Graphik Dan Web;
    src:url('../fonts/GraphikRegular.otf');
} 

@font-face {
	font-family: Graphik Dan Web Bold;
    src:url('../fonts/GraphikBold.otf');
} 

@font-face {
	font-family: Graphik Dan Web Light;
    src:url('../fonts/GraphikLight.otf');
} 

@font-face {
	font-family: Graphik Dan Web Medium;
    src:url('../fonts/GraphikMedium.otf');
} 

@font-face {
	font-family: Graphik Dan Web Semibold;
    src:url('../fonts/GraphikSemibold.otf');
} 