.features {
	padding-top: 7.25rem;
	.features-box {
		h3 {
			margin-top: 1rem;
			font-size: 2rem;
			font-family: $font-family-graphik-bold;
		}
		p {
			letter-spacing: 0.35px;
		}
		a {
			color: $blue-light;
            text-decoration: none;
			font-size: 1rem;
			font-family: $font-family-graphik-medium;
			line-height: 1.5rem;
		}
	}
}